<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Interactive Calendar</title>
    <link rel="stylesheet" href="../static/css/evo-calendar.min.css" />
</head>

<body>
    <div id="evoCalendar"></div>

    <!-- First, include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Then, include Evo Calendar script -->
    <script src="../javascript/evo-calendar.min.js"></script>

    <script src="../javascript/test.js"></script>
</body>

</html>